[submodule "meta_analysis"]
	path = meta_analysis
	url = https://github.com/alexprz/meta_analysis.git
[submodule "neuroquery_data"]
	path = neuroquery_data
	url = https://github.com/neuroquery/neuroquery_data.git
